
html{100%
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color:bisque;
 
}

.navbar-default {
    background-color: #fcf8e3;}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 20px;}


}
.fa-facebook-f{
    color: blue; }



body{
    background: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);  
     background-position:top;
    background-size: auto;
    font-family: 'Catamaran', sans-serif;
}


#login{
    min-width: 250px;
    background-color: bisque;
    opacity: 0.;
    padding: 14px 14px 0;
    
    
}

.col-md-12{
    margin: -5px;
    width:
}

#login .social-buttons{
    margin: 12px 0;
}

.btn-fb{
    color: white;
    background-color: #1877f2;
     margin-left: 15px;
}

.btn-tw{
    color: white;
    background-color:#50a5e6;
    margin-left: 5px;
}

.btn-fb:hover{
    color: white;
    background-color: #486ebc;
}

.btn-tw:hover{
    color: white;
    background-color:skyblue;
}

.center{
    text-align: center;
    padding-top: 100px;
}











@media (max-width:768px) {
    h1{
        background-color: #449d44;
        border-radius: 5px;
        
    }
    
    h2{
        background-color: #449d44;
         border-radius: 5px;
}
    
    @media (max-width:768px) {
    h1{
        background-color: skyblue;
        opacity: 0.8;
        border-radius: 5px;     
        
    }
